## Segmenting and Clustering Neighborhoods in Toronto

In [3]:
#Importing required dependencies
import pandas as pd 
import numpy as np
from bs4 import BeautifulSoup

Obtaining the data from the provided Wikipedia page and creating a pandas dataframe which excludes the cells in which a Borough  was not assigned

In [13]:
data_table=pd.read_html('https://en.wikipedia.org/w/index.php?title=List_of_postal_codes_of_Canada:_M&oldid=862527922',header=0)
df1=data_table[0]
df_clean=df1[df1['Borough']!='Not assigned']
df_clean.head()

  Postcode           Borough     Neighbourhood
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront
5      M5A  Downtown Toronto       Regent Park
6      M6A        North York  Lawrence Heights

Combining into one row neighborhoods which belong to the same post code. These neighborhoods will be separated by a comma

In [15]:
df_join = df_clean.groupby(['Postcode', 'Borough'])['Neighbourhood'].apply(list).apply(lambda x:', '.join(x)).to_frame().reset_index()

In [27]:
df_join.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge, Malvern
1      M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2      M1E  Scarborough       Guildwood, Morningside, West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Any neighborhood with the 'Not Assigned' id, will be replaced by the Borough name

In [29]:
df_join = df_final
df_final.loc[df_final['Neighbourhood']=='Not assigned','Neighbourhood']=df_final.loc[df_final['Neighbourhood']=='Not assigned']['Borough']

#An example of this case corrsponds to Postcode M7A:
df_final[df_final['Postcode']=='M7A']

   Postcode       Borough Neighbourhood
85      M7A  Queen's Park  Queen's Park

Using the shape command to print the number of rows in the dataframe

In [30]:
df_final.shape[0]

103